#gantt-chart {
    background: rgba(240, 240, 240, 1);
    position: relative;
    border-radius: 4px;
    border: 12px solid rgba(230, 230, 230, 1);
}

.o-gantt-item {
    background: transparent;
    /* border-radius: 16px; */
    animation-duration: 0.6s;
    animation-name: slidein;
    animation-timing-function: cubic-bezier(0.280, 0.840, 0.420, 1);
}

@keyframes slidein {
  0% {
    transform:scale(1,1) scaleX(0.2);
    opacity: 0.4;
  }
  100% {
    transform:scale(1,1) scaleX(1);
    opacity: 1;
  }
}

.gantt-relationship-line {
    stroke: rgba(0, 0, 0, .12);
}

.gantt-svg {
    width: 100%;
    /* position: relative; */
    /* top: 0; */
    height: 400px;
}

.o-gantt-today {
    stroke: black;
    stroke-width: 100px;
}

.o-gantt-today {
    border: 10px solid black;
}

[id*=-buttheads] {
    text-align: center;
    font-size: 13px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    border-radius: 16px;
    background: rgba(255, 0, 0, .42);
}

[id*=-buttheads]:hover {
    background: rgba(255, 0, 0, .3);
}


#gantt-svg-items {
    /* x: 400px; */
    /* y: 200px; */
    height:  400px;
    width: 100%;
}

.gantt-col-line {
    stroke: rgba(0, 0, 0, .12);
}

.gantt-row-line {
    stroke: rgba(0, 0, 0, .12);
}
