#gantt-chart {
    background: pink;
    position: relative;
    border-radius: 4px;
    border: 12px solid pink;
}

.o-gantt-item {
    background: transparent;
    /* border-radius: 16px; */
}

.gantt-relationship-line {
    stroke: blue;
}

svg {
    width: 100%;
    /* position: relative; */
    /* top: 0; */
    height: 400px;
}

line.o-gantt-today {
    stroke: black;
    stroke-width: 100px;
}

.o-gantt-today {
    border: 10px solid black;
}

[id*=-buttheads] {
    text-align: center;
    font-size: 13px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    border-radius: 16px;
    background: rgba(255, 0, 0, .2);
}

[id*=-buttheads]:hover {
    background: rgba(255, 0, 0, .3);
}
